@twitter-turquoise: #009999;
@grey-light: #A3A3A3;
@grey: #909090;

body {
    margin: 0;
    padding: 0;
    overflow-y:hidden;
    overflow-x:hidden;

    #tweets-count {
        position: absolute;
        width: 350px;
        left: 0px;
        text-align: center;
        color: @grey;

        #claim {
            color: @grey;
            margin-top: 30px;
            padding: 0 20px;

            h3 {
                font-size: 25px;
                font-weight: 300;
                span {
                    font-weight: 700;
                }
            }
        }

        label {
            font-size: 18px;
            font-weight: 700;
            margin: 10px;
        }

        .btn-default {
            margin-top: 12px;
            border-color: @twitter-turquoise;
            color: #FFF;
            background-color: @twitter-turquoise;
        }

        hr {
          border-color: #EEEEEE -moz-use-text-color #FFFFFF;
          border-style: solid none;
          border-width: 1px 0;
          margin: 50px 12px;
        }

        #tweets-number-text {
            font-weight: 300;
            span {
                font-weight: 800;
            }
        }
    }

    #gender-charts {
        position: absolute;
        width: 350px;
        height: 350px;
        left: 0px;
        bottom: 0px;
        margin-bottom: -12px;
        // overflow: scroll;
    }

    .leaflet-popup-content-wrapper {
      background: #fbfbfb;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }

    #map {
        position: absolute;
        width:100%;
        height:100%;
        margin-left: 350px;

        .popup {
            img.profile-url {
                float: left;
                height: 48px;
                width: 48px;
            }

            h2.real-name {
                margin-left: 60px;
                font-weight: 700;
            }

            h3.screen-name {
                margin-left: 60px;
                margin-top: -10px;
                color: @twitter-turquoise;
                font-weight: 300;
            }

            .tweet-photo {
                display: block;
                text-align: center;
                margin-left: auto;
                margin-right: auto;

                img {
                    height: 150px;
                    width: 150px;
                }
            }

            .tweet-text a {
                color: @twitter-turquoise;
            }
        }
    }

    #menu-ui {
        background: #fff;
        position: absolute;
        top: 84px;
        right: 50px;
        z-index: 1;
        border-radius: 3px;
        -moz-border-radius: 3px;
        width: 60px;
        border: 2px solid rgba(0,0,0,0.2);

        img {
            width: 30px;
            height: 30px;
        }

        a {
            // font-size: 13px;
            color: #404040;
            display: block;
            margin: 0;
            padding: 0;
            padding: 10px;
            text-decoration: none;
            border-bottom: 1px solid rgba(0,0,0,0.25);
            text-align: center;
        }

        a:hover {
            background: #f8f8f8;
            color: #404040;
        }

        a.active, a.active:hover {
            background: #3887BE;
            color: #FFF;
        }
    }
}
